.container {
    display : flex;
    width:100%;
    height:100vh;
    flex-direction: column;
}

.user-container{

    height:100%;
    width: 60%;
    
    

}

.header{
top:0;
height: 10%;
background-color:#614D55;
}

.order-container{

    width: 40%;
    height:100%;

}