.order-panel{
    width: 100%;    
    display: flex;
    flex-direction: column;
    overflow: auto;
    height:100%;
    text-align: center;

}
.typo-user-info{
    font-size: 1.5em;
}



.card-add-content{
    display:flex;
    flex-direction: row;
    margin-top: .5rem;
    margin-bottom: .5rem;

}

.standard-basic{
    flex-grow:4;
}
.btn-add{
    flex-grow:1
}

.card-info{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: .5rem;
    
    padding: .5rem;
border-radius:  15px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align:left;
    
}
.card-order{

    height:auto;
    margin-bottom: 1rem;
overflow-y:auto ;

}
.my-div{
margin-bottom: 1rem;
}

.my-div-order{

    display: flex;
    flex-direction: row;
    
}
.avatar{

    margin:auto;
    margin-top: 1rem;
    width:150px;
    height: 150px;
    justify-self: center;

}

.typo-title{
    font-size:1em;
    align-self: flex-start;
    width: 50%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.typo-item{
    width: 50%;
    text-align: right;
    font-size:1em;
    font-weight: 900;
    font-family: 'Roboto Slab', sans-serif;
    align-self:flex-end;
}
