.card{

    
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;

    

}

.card-content{
    display:flex;
    cursor: pointer;

    flex-direction: row;
    background-color: #E6B5C9;
    margin-bottom:.5rem;
    border-radius: 15px;
}
.card-content:hover{
    background-color: #612F44;
    color: #E6B5C9;
}
.card-content-selected{
    background-color: #612F44;
    color: #E6B5C9;
}
.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}   


.user-panel{
    width: 100%;    
    display: flex;
    flex-direction: column;
    overflow: auto;
    height:100%;


}
img{
 width:100px;
 height: 100px;
 border-radius: 100%;   
}